/* Estilo global do corpo da página */
body {
    background-color: #eeeeee; /* Cor de fundo do corpo */
    font-family: 'Righteous', sans-serif; /* Fonte global */
    display: flex; /* Modelo de layout flexível */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Alinha os itens horizontalmente */
    height: 100vh; /* 100% da altura da viewport */
}

/* Estilo do contêiner principal */
.container {
    color: white; /* Cor do texto dentro do contêiner */
    max-width: 330px; /* Largura máxima do contêiner */
    text-align: center; /* Alinhamento do texto no centro */
    background-image: url(./imagens/20230527_174132\ \(2\).jpg); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o contêiner com a imagem */
    border-radius: 15px; /* Bordas arredondadas */
}

/* Estilo da seção de busca */
.busca {
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Modelo de layout flexível */
    justify-content: center; /* Alinha os itens horizontalmente */
    gap: 5px; /* Espaçamento entre os itens */
}

/* Estilo do campo de entrada de busca */
.busca input {
    font-family: 'Permanent Marker', cursive; /* Fonte do campo de entrada */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno ao focar */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
    opacity: 0.8; /* Opacidade */
}

/* Estilo do botão de busca */
.btn-busca {
    background-color: transparent; /* Cor de fundo transparente */
    cursor: pointer; /* Cursor ao passar por cima */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px 10px; /* Espaçamento interno */
    opacity: 0.9; /* Opacidade */
}

/* Estilo do ícone de lupa dentro do botão de busca */
.btn-busca .lupa {
    width: 30px; /* Largura do ícone de lupa */
    padding: 6px; /* Espaçamento interno do ícone */
}

/* Estilo da seção de informações principais */
.informacao-principal {
    margin: 22px; /* Margem externa */
}

/* Estilo do título na seção de informações principais */
.informacao-principal h1 {
    font-size: 18px; /* Tamanho do título */
}

/* Estilo da temperatura na seção de informações principais */
.informacao-principal .temperatura {
    font-size: 68px; /* Tamanho da fonte da temperatura */
    margin: 20px 0; /* Margem superior e inferior */
}

/* Estilo da condição na seção de informações principais */
.informacao-principal .condicao {
    font-size: 20px; /* Tamanho da fonte da condição */
}

/* Estilo da seção de informações secundárias */
.informacao-secundaria {
    padding: 20px 30px; /* Espaçamento interno */
    border-radius: 0px 0px 15px 15px; /* Bordas arredondadas na parte inferior */
    opacity: 0.5; /* Opacidade */
}

/* Estilo das seções de umidade e velocidade do vento na seção secundária */
.informacao-secundaria .humidade,
.informacao-secundaria .velocidade-do-vento {
    display: flex; /* Modelo de layout flexível */
    justify-content: space-between; /* Alinha os itens horizontalmente com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 10px; /* Espaçamento interno */
}
/* Estilo global do corpo da página */
body {
    background-color: #eeeeee; /* Cor de fundo do corpo */
    font-family: 'Righteous', sans-serif; /* Fonte global */
    display: flex; /* Modelo de layout flexível */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Alinha os itens horizontalmente */
    height: 100vh; /* 100% da altura da viewport */
}

/* Estilo do contêiner principal */
.container {
    color: white; /* Cor do texto dentro do contêiner */
    max-width: 330px; /* Largura máxima do contêiner */
    text-align: center; /* Alinhamento do texto no centro */
    background-image: url(./imagens/20230527_174132\ \(2\).jpg); /* Imagem de fundo */
    background-size: cover; /* Cobrir todo o contêiner com a imagem */
    border-radius: 15px; /* Bordas arredondadas */
}

/* Estilo da seção de busca */
.busca {
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Modelo de layout flexível */
    justify-content: center; /* Alinha os itens horizontalmente */
    gap: 5px; /* Espaçamento entre os itens */
}

/* Estilo do campo de entrada de busca */
.busca input {
    font-family: 'Permanent Marker', cursive; /* Fonte do campo de entrada */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno ao focar */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
    opacity: 0.8; /* Opacidade */
}

/* Estilo do botão de busca */
.btn-busca {
    background-color: transparent; /* Cor de fundo transparente */
    cursor: pointer; /* Cursor ao passar por cima */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px 10px; /* Espaçamento interno */
    opacity: 0.9; /* Opacidade */
}

/* Estilo do ícone de lupa dentro do botão de busca */
.btn-busca .lupa {
    width: 30px; /* Largura do ícone de lupa */
    padding: 6px; /* Espaçamento interno do ícone */
}

/* Estilo da seção de informações principais */
.informacao-principal {
    
    margin: 22px; /* Margem externa */
}

/* Estilo do título na seção de informações principais */
.informacao-principal h1 {
    font-size: 18px; /* Tamanho do título */
}

/* Estilo da temperatura na seção de informações principais */
.informacao-principal .temperatura {
    font-size: 68px; /* Tamanho da fonte da temperatura */
    margin: 20px 0; /* Margem superior e inferior */
}

/* Estilo da condição na seção de informações principais */
.informacao-principal .condicao {
    font-size: 30px; /* Tamanho da fonte da condição */
}

/* Estilo da seção de informações secundárias */
.informacao-secundaria {
    background-color: rgb(161, 92, 92); /* Cor de fundo da seção secundária */
    padding: 20px 30px; /* Espaçamento interno */
    border-radius: 0px 0px 15px 15px; /* Bordas arredondadas na parte inferior */
    opacity: 0.7; /* Opacidade */
    color: #eeeeee;
}

/* Estilo das seções de umidade e velocidade do vento na seção secundária */
.informacao-secundaria .humidade,
.informacao-secundaria .velocidade-do-vento {
    display: flex; /* Modelo de layout flexível */
    justify-content: space-between; /* Alinha os itens horizontalmente com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 10px; /* Espaçamento interno */
}
